.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: lightgreen;
}

.add {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  background-color: green;
  color: white;
  margin: 0 20px;
}

.delete {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  background-color: red;
  color: white;
}
.crud{
  display: flex;
}